# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyBCNGWldcvgDRadPjeEgJyFN7FN62eOuk8

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [202]:
filepath = '../weather-py/output_data/cities.csv'
cities_df = pd.read_csv(filepath)
cities_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lorengau,-2.0226,147.2712,83.61,73,64,9.10,PG,1628467286
1,1,Ushuaia,-54.8000,-68.3000,40.66,70,40,3.44,AR,1628467131
2,2,Busselton,-33.6500,115.3333,53.10,62,100,20.85,AU,1628467374
3,3,Hilo,19.7297,-155.0900,80.26,88,22,1.01,US,1628467374
4,4,Antalaha,-14.9003,50.2788,65.79,87,31,5.75,MG,1628467375
...,...,...,...,...,...,...,...,...,...,...
597,597,Kavaratti,10.5669,72.6420,79.07,86,100,19.77,IN,1628467032
598,598,Kaeo,-35.1000,173.7833,45.32,93,80,13.56,NZ,1628467140
599,599,Departamento de Maldonado,-34.6667,-54.9167,49.23,89,100,16.98,UY,1628467213
600,600,Charters Towers,-20.1000,146.2667,69.53,54,0,14.50,AU,1628467213
601,601,Aljubarrota,39.5672,-8.9293,62.71,93,2,9.55,PT,1628467214

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [203]:
import gmaps
gmaps.configure(api_key=g_key)

In [204]:
locations = cities_df[['Lat','Lng']].astype(float)
humidity = cities_df['Humidity'].astype(float)

##### Interestingly, this test appears to confirm that heat map intensity is correlated to both the number of measurements, and weight of measurements . Both locations in test_df show  the same heat map when added to gmap. *change dataframe from cities_df to test_df above to confirm.
Lat=list()
Lng=list()
Humidity=list()

##### Append 100 measurements of a humidity level of 1 to a city at 50 Lat, 0 Lng
for x in range(0,101):
    Lat.append(50)
    Lng.append(0)
    Humidity.append(1)


##### Append 1 measurements of a humidity level of 100 to a city at 0 Lat, 30 Lng
Lat.append(0)
Lng.append(30)
Humidity.append(100)

test_dict = {'Lat':Lat, 'Lng':Lng, 'Humidity':Humidity}

test_df = pd.DataFrame.from_dict(test_dict)
test_df

In [205]:


heat_layer = gmaps.heatmap_layer(locations,weights=humidity,
                                 dissipating=False)
figure_layout = {
    'width': '400px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}
fig = gmaps.figure(layout=figure_layout,
            center=(30, -0.1), zoom_level=1,
            map_type='HYBRID')
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='400px'))

In [206]:
heat_layer.max_intensity = 100
heat_layer.point_radius = 3

This map indicates either the intensity of humidity and/or the number of measurements recorded from a given area.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [225]:
vacation_df = cities_df.loc[(cities_df['Max Temp']>75),:]
vacation_df = vacation_df.loc[(cities_df['Max Temp']<90),:]
vacation_df = vacation_df.loc[(cities_df['Humidity']<50),:]
vacation_df = vacation_df.loc[(cities_df['Cloudiness']<40),:]
vacation_df = vacation_df.loc[(cities_df['Wind Speed']<9),:]
vacation_df = vacation_df.drop(columns=['Unnamed: 0'])
vacation_df = vacation_df.drop_duplicates(subset='City')
vacation_df = vacation_df.reset_index(drop=True)
vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Baharly,38.4362,57.4316,86.04,19,0,4.61,TM,1628467365
1,Baghdad,33.3406,44.4009,84.11,30,0,2.30,IQ,1628466886
2,Kenora,49.8167,-94.4337,81.82,45,4,7.54,CA,1628467339
3,Khāsh,28.2211,61.2158,77.41,15,2,2.86,IR,1628467548
4,San Borja,-14.8167,-66.8500,76.82,49,6,1.32,BO,1628467151
5,Baghlan,36.1307,68.7083,80.62,20,0,4.05,AF,1628467156
6,Mangit,40.5971,70.9607,78.08,23,0,1.61,UZ,1628467173
7,Vanderhoof,54.0166,-124.0198,79.05,33,3,5.91,CA,1628467200

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [231]:
vacation_df['Hotel Name'] = ''
hotel_df = vacation_df.copy()
hotel_df['Lat'] = hotel_df['Lat'].map('{:,.2f}'.format)
hotel_df['Lng'] = hotel_df['Lng'].map('{:,.2f}'.format)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Baharly,38.44,57.43,86.04,19,0,4.61,TM,1628467365,
1,Baghdad,33.34,44.40,84.11,30,0,2.30,IQ,1628466886,
2,Kenora,49.82,-94.43,81.82,45,4,7.54,CA,1628467339,
3,Khāsh,28.22,61.22,77.41,15,2,2.86,IR,1628467548,
4,San Borja,-14.82,-66.85,76.82,49,6,1.32,BO,1628467151,
5,Baghlan,36.13,68.71,80.62,20,0,4.05,AF,1628467156,
6,Mangit,40.60,70.96,78.08,23,0,1.61,UZ,1628467173,
7,Vanderhoof,54.02,-124.02,79.05,33,3,5.91,CA,1628467200,

In [254]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
  
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    try:
        # get cooridinates from df
        lat = row['Lat']
        lng = row['Lng']
        target_coordinates = f'{lat}, {lng}'

        # set radius and type parameters
        target_radius = 5000
        target_type = "lodging"

        # set up a parameters dictionary
        params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
        }

        # assemble url and make API request
        print(f"Retrieving Results for Index {index}: {target_coordinates}.")
        response = requests.get(base_url, params=params).json()

        # add information to dataframe
        hotel_df.loc[index,'Hotel Name'] = response['results'][0]['name']
        
    except:
#         hotel_df.loc[index,'Hotel Name'] = ''
        print('**Missing field, skipping to next query.')

Retrieving Results for Index 0: 38.44, 57.43.
**Missing field, skipping to next query.
Retrieving Results for Index 1: 33.34, 44.40.
Retrieving Results for Index 2: 49.82, -94.43.
Retrieving Results for Index 3: 28.22, 61.22.
Retrieving Results for Index 4: -14.82, -66.85.
**Missing field, skipping to next query.
Retrieving Results for Index 5: 36.13, 68.71.
Retrieving Results for Index 6: 40.60, 70.96.
Retrieving Results for Index 7: 54.02, -124.02.

In [261]:
hotel_df2 = hotel_df.copy() 
hotel_df2 = hotel_df2.loc[(hotel_df2['Hotel Name'] != ''),:]
hotel_df2

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,Baghdad,33.34,44.40,84.11,30,0,2.30,IQ,1628466886,Baghdad Hotel
2,Kenora,49.82,-94.43,81.82,45,4,7.54,CA,1628467339,Maynard Lake Lodge
3,Khāsh,28.22,61.22,77.41,15,2,2.86,IR,1628467548,دفتر پیشخوان دولت جمال زهی (خالد)
5,Baghlan,36.13,68.71,80.62,20,0,4.05,AF,1628467156,Habibullah MOsazai
6,Mangit,40.60,70.96,78.08,23,0,1.61,UZ,1628467173,Dangara Hotel
7,Vanderhoof,54.02,-124.02,79.05,33,3,5.91,CA,1628467200,Vanderhoof Inn

In [262]:
hotel_df2 = hotel_df2.reset_index(drop=True)
hotel_df2

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Baghdad,33.34,44.40,84.11,30,0,2.30,IQ,1628466886,Baghdad Hotel
1,Kenora,49.82,-94.43,81.82,45,4,7.54,CA,1628467339,Maynard Lake Lodge
2,Khāsh,28.22,61.22,77.41,15,2,2.86,IR,1628467548,دفتر پیشخوان دولت جمال زهی (خالد)
3,Baghlan,36.13,68.71,80.62,20,0,4.05,AF,1628467156,Habibullah MOsazai
4,Mangit,40.60,70.96,78.08,23,0,1.61,UZ,1628467173,Dangara Hotel
5,Vanderhoof,54.02,-124.02,79.05,33,3,5.91,CA,1628467200,Vanderhoof Inn

In [263]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df2.iterrows()]
locations = hotel_df2[["Lat", "Lng"]]

In [264]:
# Add marker layer ontop of heat map
cooridinates = []

# Assign the marker layer to a variable
for index, row in hotel_df2.iterrows():
    
        # get cooridinates from df
        lat = row['Lat']
        lng = row['Lng']
        cooridinates.append((float(lat), float(lng)))
cooridinates

[(33.34, 44.4),
 (49.82, -94.43),
 (28.22, 61.22),
 (36.13, 68.71),
 (40.6, 70.96),
 (54.02, -124.02)]

In [265]:
markers = gmaps.marker_layer(cooridinates,hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='400px'))